<div class="form-group" [class.has-success]="hasSuccess()"
                        [class.has-error]="hasError()">
  <label class="control-label sr-only" for="inputSuccess">
    <i class="fa fa-check"></i>
    {{label}}
  </label>


  <!-- <input #input="ngModel" autocomplete="off" required type="text" class="form-control" name="number" ngModel placeholder="Número"> -->
  <!-- Ao invés de utilizar o input usamos ng-content -->
  <ng-content></ng-content>

  <span *ngIf="hasError()" class="help-block"><i class="fa fa-remove"></i> {{errorMessage}}</span>
  <span *ngIf="hasSuccess()" class="help-block"><i class="fa fa-check"></i> Ok</span>

</div>
